<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"
	rel="stylesheet">
</head>

<body>
	<div
		style="width: 100%; margin: auto; font-family: 'Lato', sans-serif;">
		<table style="width: 100%;">
			<thead>
				<tr style="font-size: 20px;">
					<td colspan="5" style="padding: 20px 20px; text-align: center;">
						<img
						src="https://mcusercontent.com/4ca4564f8cab8a58cbc0f32e2/images/89ed60f8-9220-1a42-6d9c-92b125b34860.png"
						alt="" style="width: 100px;">
					</td>
				</tr>
			</thead>
			<tbody>
				<tr style="font-size: 20px;">
					<td colspan="5" style="padding: 20px 20px; text-align: center;">
						<div
							style="font-family: 'Lato', sans-serif; font-size: 22px; text-transform: uppercase; margin-top: 12px; letter-spacing: 1.5px; font-weight: 600;">
							Account Status</div>
				<tr style="font-size: 20px;">
					<td colspan="5"
						style="padding: 20px 20px; text-align: left; font-family: 'Lato', sans-serif; padding-bottom: 0;">
						Hi, &nbsp;
						<div th:text="${name}" style="margin-top: 12px;">
							</div>

					</td>
				</tr>
				</td>
				</tr>
				<tr>
					<td colspan="5" style="width: 100%;">
						<hr
							style="border-left: 0; border-width: 3px; border-bottom: 0; border-color: #000; margin-top: 38px; width: 100%;" />

					</td>
				</tr>
			</tbody>
		</table>
		<table
			style="border-collapse: collapse; font-size: 16px; width: 100%; margin-bottom: 40px;">
			<tr style="vertical-align: text-top;">
				<td style="width: 50%;"></td>
				<td style="width: 50%;">
					<table
						style="border-collapse: collapse; font-size: 16px; width: 100%;">
						<tr>
							<th style="width: 100%">
								<h1
									style="text-transform: uppercase; font-size: 17px; font-weight: 800; margin-bottom: 10px; border-bottom: 1.6px solid; padding-bottom: 7px; color: #000; text-align: left; width: 95%;">
									Updated By</h1>
							</th>
						</tr>
						<tr>
							<td
								style="font-size: 16px; line-height: 22px; color: #000; width: 100%">
								<table style="width: 100%;">
									<tr>
										<td style="color: #000; font-weight: 600;">
											<div>
												<span>Name&nbsp;:&nbsp;</span> <span
													th:text="${name}"></span>
											</div>
											<div>
												<span>Email &nbsp;:&nbsp;</span> <span
													th:text="${email}"></span>
											</div>
											<div>
												<span>GSTIN&nbsp;:&nbsp;</span> <span
													th:text="${gstIn}"></span>
											</div>
											<div>
												<span>PAN&nbsp;:&nbsp;</span> <span
													th:text="${pan}"></span>
											</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<div
			style="font-family: 'Lato', sans-serif; text-align: center; font-size: 15px; margin-top: 12px; font-weight: bold; line-height: 25px; color: #5b5b5b; text-transform: uppercase; color: rgb(34, 139, 34); font-weight: 800;">
			Your Account has been Updated Sucessfully.</div>
		<!-- <table>
				<tbody>
					<tr>
						<td
							<td  style="font-weight: 600;font-size:20px;">Grand Total&nbsp;:&nbsp;402.00</td>
						</td>
					</tr>
				</tbody>
			</table> -->


		<h1
			style="text-transform: uppercase; font-size: 23px; font-weight: 800; margin-bottom: 22px; margin-top: 40px; letter-spacing: 1.5px; text-align: center;">Follow
			US</h1>
		<div style="text-align: center;">
			<a href="#"
				style="text-decoration: none; color: #000; text-align: center; margin-right: 10px;">
				<img
				src="https://mcusercontent.com/4ca4564f8cab8a58cbc0f32e2/images/3c1d4e2a-f7a7-49d7-5da0-033d43c001a9.png"
				alt="" style="width: 40px; height: 40px;">
			</a> <a href="#"
				style="text-decoration: none; color: #000; text-align: center; margin-right: 10px;">
				<img
				src="https://mcusercontent.com/4ca4564f8cab8a58cbc0f32e2/images/903b697c-e17e-3467-37ec-a2579fce3114.jpg"
				alt="" style="width: 37px; height: 37px;">
			</a> <a href="#"
				style="text-decoration: none; color: #000; text-align: center; margin-right: 10px;">
				<img
				src="https://mcusercontent.com/4ca4564f8cab8a58cbc0f32e2/images/05d98f76-7feb-df56-d2ef-ea254e07e373.png"
				alt="" style="width: 40px; height: 40px;">
			</a> <a href="#"
				style="text-decoration: none; color: #000; text-align: center; margin-right: 10px;">
				<img
				src="https://mcusercontent.com/4ca4564f8cab8a58cbc0f32e2/images/17b7c9d8-a3cc-1eb7-7bc8-6ac6c153d52c.png"
				alt="" style="width: 42px; height: 42px;">
			</a> <a href="#"
				style="text-decoration: none; color: #000; text-align: center;">
				<img
				src="https://mcusercontent.com/4ca4564f8cab8a58cbc0f32e2/images/27dc3b48-f225-b21e-1b25-23e3afd95566.png"
				alt="" style="width: 39px; height: 37px;">
			</a>
		</div>
	</div>
</body>

</html>