<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link
	href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
	integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
	crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
	<div style="width: 600px; margin: auto; padding: 15px !important;">
		<table style="width: 100%;">
			<thead>
				<tr style="font-size: 20px;">
					<td colspan="5" style="padding: 20px 20px; text-align: center;">
						<img
						src="https://mcusercontent.com/4ca4564f8cab8a58cbc0f32e2/images/89ed60f8-9220-1a42-6d9c-92b125b34860.png"
						alt="" style="width: 100px;">
					</td>
				</tr>
			</thead>
			<tbody>
				<tr style="font-size: 20px;">
					<td colspan="5" style="padding: 20px 20px; text-align: center;">
						<div
							style="font-family: 'Lato', sans-serif; font-size: 22px; text-transform: uppercase; margin-top: 12px; letter-spacing: 1.5px; font-weight: 600;"></div>
				<tr style="font-size: 20px;">
					<td colspan="5"
						style="padding: 20px 20px; text-align: left; font-family: 'Lato', sans-serif;">
						&nbsp; Hi, &nbsp;
						<div th:text="${designerName}"></div> <!-- <div style="font-family: 'Lato', sans-serif;text-align: left;font-size: 15px;font-weight: 500;line-height: 30px;color: #000;">
									&nbsp; &mailto:nbsp;chakraborty123@gmail.com
									</div> -->
						<div
							style="font-family: 'Lato', sans-serif; text-align: center; font-size: 15px; margin-top: 12px; font-weight: bold; line-height: 25px; color: #5b5b5b; text-transform: uppercase; color: rgb(255, 0, 0); font-weight: 800;">
							Your profile has been rejected.</div>
						<div
							style="font-family: 'Lato', sans-serif; font-size: 15px; margin-top: 12px; line-height: 25px; color: #ffffff; background-color: #87c048; padding: 6px 12px; color: #000000; background-color: #f2e9c8;">
							<div th:text="${adminComment}"></div>
						</div>
						<hr
							style="border-left: 0; border-width: 3px; border-bottom: 0; border-color: rgb(0, 0, 0); margin-top: 38px;">
					</td>
				</tr>
				</td>
				</tr>
			</tbody>
		</table>
		<h1
			style="font-family: 'Lato', sans-serif; text-transform: uppercase; font-size: 23px; font-weight: 800; margin-bottom: 22px; margin-top: 40px; letter-spacing: 1.5px; text-align: center;">Follow
			US</h1>
		<div style="text-align: center;">
			<a href="#"
				style="text-decoration: none; color: #000; text-align: center; margin-right: 10px;">
				<img
				src="https://mcusercontent.com/4ca4564f8cab8a58cbc0f32e2/images/3c1d4e2a-f7a7-49d7-5da0-033d43c001a9.png"
				alt="" style="width: 40px; height: 40px;">
			</a> <a href="#"
				style="text-decoration: none; color: #000; text-align: center; margin-right: 10px;">
				<img
				src="https://mcusercontent.com/4ca4564f8cab8a58cbc0f32e2/images/903b697c-e17e-3467-37ec-a2579fce3114.jpg"
				alt="" style="width: 37px; height: 37px;">
			</a> <a href="#"
				style="text-decoration: none; color: #000; text-align: center; margin-right: 10px;">
				<img
				src="https://mcusercontent.com/4ca4564f8cab8a58cbc0f32e2/images/05d98f76-7feb-df56-d2ef-ea254e07e373.png"
				alt="" style="width: 40px; height: 40px;">
			</a> <a href="#"
				style="text-decoration: none; color: #000; text-align: center; margin-right: 10px;">
				<img
				src="https://mcusercontent.com/4ca4564f8cab8a58cbc0f32e2/images/17b7c9d8-a3cc-1eb7-7bc8-6ac6c153d52c.png"
				alt="" style="width: 42px; height: 42px;">
			</a> <a href="#"
				style="text-decoration: none; color: #000; text-align: center;">
				<img
				src="https://mcusercontent.com/4ca4564f8cab8a58cbc0f32e2/images/27dc3b48-f225-b21e-1b25-23e3afd95566.png"
				alt="" style="width: 39px; height: 37px;">
			</a>
		</div>
	</div>
	<script type="text/javascript"
		src="/LBKlAJ/lDsEbq/5P/c4gA/oVBSEXBP4/7cErfJDL3S/NCUhTw/fHU5/ZXVTawM"></script>
</body>
</html>